@font-face {
  font-family: 'kokugl';
  src: url('assets/font/font_1_kokugl_1.15_rls.ttf') format('truetype');
}

@font-face {
  font-family: 'kssweetheavycalligraphy';
  src: url('assets/font/kssweetheavycalligraphy.ttf') format('truetype');
}
